
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 600px;
    height: 400px;
    background-color: #445a6f;
    color: #ffffff;
   padding: 25px;
   border-radius: 10px;
   margin-top: 50px;

}
.wrapper{
    display: flex;

}
.wrapper div{
    background-color: #e63946;
    padding:20px;
    margin-top: 10px;

}
input{
    width: 80%;
    padding: 8%;
    margin-top: 10px;
    border: none;
    font-size: 20px;
}
input:focus{
    outline: none;
}
h2{
    margin-top: 40px;

}